.header{
    height: 34vw;
    margin: 30px auto;
    /* background: url('/header_img.png') no-repeat; */
    background:
    linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.73)),
    url('/header_img.png') no-repeat;
    border-radius: 20px;
    position: relative;
    background-size: cover;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50vw;
    margin: 0px 45px;
    bottom: 15%;
    animation: fadeIn 3s; 
}
.header-contents h2{
    color: #ffff;
    font-size: max(4vw, 22px)
}
.header-contents p{
    color: #ffff;
    font-size: max(1.1vw,14px);
}
.header-contents button{
    border: none;
    color: black;
    background-color: #ffff;
    padding: 1vw 2.3vw;
    font-size: max(1vw, 13px);
    border-radius: 45px;
    cursor: pointer;
}
.header-contents button:hover{
    color: tomato;
}
@media (max-width:1100px){
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 60%;
    }
}
@media (max-width:900px){
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 70%;
    }
}
@media (max-width:750px){
    .header-contents h2{
        margin-bottom: 16px;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding:2vw 4vw ;
    }
}